{% extends 'patient/base.html' %}
{% block content %}


<table class="table">
  <thead>
    <tr>
      <th scope="col">Invoice</th>
      <th scope="col">Date</th>
      <th scope="col">Paid</th>
      <th scope="col">Outstanding</th>
    </tr>
  </thead>
  {% for val in pat %}
  <tbody>
    <tr>
      <th scope="row"><a href="{{ val.invoice.url }}" target="_blank">Open invoice</a></th>
      <td>{{ val.Date }}</td>
      <td>{{ val.paid }}</td>
      <td>{{ val.outstanding }}</td>
    </tr>
  </tbody>
  {% endfor %}
</table>


{% endblock %}